html,body{
  background-color: rgba(255, 255, 255, 0.744);
  display: flex;
}
.container{
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}
.top{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flexbox{
  text-align: center;
}
.left{
  width: 40%;
}
.overlap{
  position: relative;
}
.unclickable{
  position: absolute;
  left:0px;
  bottom: 0px;
  pointer-events: none;
  z-index: 0;
}
.middle{
  height: 50px;
  width: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.right{
  width: 40%;
  height: 300px;
  text-align: center;
}
